<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="duman_arm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import duman_arm urdf file -->
    <xacro:include filename="$(find duman_description)/urdf/duman_goat.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="duman_arm.ros2_control.xacro" />


    <xacro:duman_arm_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
