<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="duman_arm_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="right_hip">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_hip']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_shoulder">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_shoulder']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_elbow">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_elbow']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_wrist1">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_wrist1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_wrist2">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_wrist2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_wrist3">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_wrist3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_hip">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_hip']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_shoulder">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_shoulder']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_elbow">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_elbow']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_wrist1">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_wrist1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_wrist2">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_wrist2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_wrist3">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_wrist3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
