<?xml version="1.0"?>
<robot name="duman" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="base_length" value="0.25" />

    <!-- <link name="base_footprint" /> -->

    <link name="base_link">
        <visual>
            <geometry>
                <!-- <box size="1.0 2.0 1.0" />  -->
            <mesh filename="package://duman_description/models/Base.STL" scale="0.001 0.001 0.001"/>

            </geometry>
            <origin xyz="-0.06 -0.06 0" rpy="0 0 0" />
            <!-- <material name="pink" /> -->
        </visual>
        <!-- <collision>
            <geometry>
                <box size="${base_length} ${base_width} 0.2" />
            </geometry>
            <origin xyz="0 0 0.1" rpy="0 0 0" />
        </collision>
        <xacro:box_inertia m="1.0" l="${base_length}" w="${base_width}" h="${base_height}"
                           xyz="0 0 ${base_height / 2.0}" rpy="0 0 0" /> -->
    </link>

    <link name="waist_link">
        <visual>
            <geometry>
                <!-- <box size="1.0 1.0 4.0" />  -->
            <mesh filename="package://duman_description/models/Waist.STL" scale="0.001 0.001 0.001"/>

            </geometry>
            <origin xyz="-0.048 -0.048 0" rpy="1.57 0.0 1.57" />
            <!-- <material name="pink" /> -->
        </visual>
        <!-- <collision>
            <geometry>
                <box size="${base_length} ${base_width} 0.2" />
            </geometry>
            <origin xyz="0 0 0.1" rpy="0 0 0" />
        </collision>
        <xacro:box_inertia m="1.0" l="${base_length}" w="${base_width}" h="${base_height}"
                           xyz="0 0 ${base_height / 2.0}" rpy="0 0 0" /> -->
    </link>

    <link name="link_a">
        <visual>
            <geometry>
                <!-- <box size="1.0 1.0 4.0" />  -->
            <mesh filename="package://duman_description/models/linka.STL" scale="0.001 0.001 0.001"/>

            </geometry>
            <origin xyz="0.01 0.0 0.0" rpy="0 1.57 1.57" />
            <!-- <material name="pink" /> -->
        </visual>
        <!-- <collision>
            <geometry>
                <box size="${base_length} ${base_width} 0.2" />
            </geometry>
            <origin xyz="0 0 0.1" rpy="0 0 0" />
        </collision>
        <xacro:box_inertia m="1.0" l="${base_length}" w="${base_width}" h="${base_height}"
                           xyz="0 0 ${base_height / 2.0}" rpy="0 0 0" /> -->
    </link>


    <joint name="waist_joint" type="continuous">
        <parent link="base_link" />
        <child link="waist_link" />
            <origin xyz="0 0 0.057" rpy="0 0 0" />
        <axis xyz="0 0 1" />
    </joint>

    <joint name="shoulder_joint" type="continuous">
        <parent link="waist_link" />
        <child link="link_a" />
            <origin xyz="-0.06 -0.015 0.058" rpy="0 0 0" />
        <axis xyz="0 1 0" />
    </joint>

  
</robot>